[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.10.0"
torchvision = "*"
torchaudio = "*"
pytorch-lightning = "==1.5.10"
einops = "*"
torchtyping = "*"
wandb = "*"
torchtext = "*"
datasets = "*"
ipywidgets = "*"
setuptools = "==59.5.0"
#torch-xla = {extras = ["tpuvm"], file = "https://storage.googleapis.com/tpu-pytorch/wheels/tpuvm/torch_xla-1.10-cp38-cp38-linux_x86_64.whl"}
python-dotenv = "*"
sacrebleu = "*"
nltk = "*"
rouge-score = "*"
ujson = "*"
ipdb = "*"
ssw = "*"
deepspeed = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"

[requires]
python_version = "3.8"
