[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
pytorch-lightning = "*"
einops = "*"
torchtyping = "*"
wandb = "*"
torchtext = "*"
datasets = "*"
sklearn = "*"
nltk = "*"
rouge-score = "*"
ipywidgets = "*"


[dev-packages]
autopep8 = "*"
pytest = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[packages.clip]
git = "https://github.com/openai/CLIP.git"